<h2>Search</h2>

<div>
  Search:
  <flogo-search
    placeholder="Type and I will search"
    (search)="search($event)"
    [emitOnKey]="emitOnKey"
  ></flogo-search>
  Last query: {{ lastQuery }}
</div>

<div>
  <label>
    <input
      type="checkbox"
      #checkbox
      checked="true"
      (change)="setEmitOnKey(checkbox.checked)"
    />
    Emit on key
  </label>
</div>

<div class="lists">
  <demo-search-people title="List" [people]="people"></demo-search-people>
  <demo-search-people
    title="Filtered list"
    [people]="filteredPeopleList$ | async"
  ></demo-search-people>
</div>
